

body{
    background-color: black;
}
.target{
    
    align-items: center;
    text-align: center;
    margin-top: 16rem;
    box-shadow: inset 2px 3px 10px rgb(221, 147, 10);
background-color: black;
color: white;
                  

}
.create{
    border: none;
    padding: 1.3rem;
    border-radius: 10px;
    text-decoration: wavy;
    margin-left: 2rem;
    margin-top: 3rem;
    width: 9rem;
     font-size: 1rem;
     font-weight: bold;
     font-family: sans-serif;
}


.create:hover{
    padding-right: 24px;
  padding-left:8px;
  background-color: aqua;

}
.create:after{
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

.create:hover:after{
    opacity: 1;
    right: 10px;

}

.target1{

    border:none;
    height: 2rem;
    width: 18rem;
    border-radius: 3px;
    padding: 0.7rem;
}
.target1:hover{
    box-shadow: 2px 2px 12px orange;
    border: rgb(123, 185, 204);
    border: none ;
}
.ul{
    margin-left:5rem;
    margin-top: 4rem;
    list-style: none;
    align-items: center;
    justify-content: center !important;
}
ul li{
    margin-right: 5rem;
}
.btn1{
    border: none;
    padding: 1rem;
    border-radius:4px;
    background-color: aqua;

    width: 9rem;
}
.btn2{
    border: none;
    padding: 1rem;
    border-radius:4px;
    margin: 1rem;
    width: 9rem;
    background-color: aqua;
    
} 
.lilist{

}
